.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 170px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 900;
    background: url(../../assets/img/bg.jpg) no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.subheader {
    font-family: 'Roboto', sans-serif;
    color: #F7F9FB;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.desc {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #F7F9FB;
    line-height: 32px;
    margin: 0;
    padding-bottom: 20px;
}

.NavLink {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: #2F4454;
    color: #F7F9FB;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} 

.NavLink:hover {
    background-color: #DA7B93;
    color: #F7F9FB;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    text-align: center;
}