.list {
    padding: 0;
}

.item {
    box-shadow: 2px 4px 26px #376E6F;
}

.author {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #376E6F;
    padding: 20px 0 10px 20px;
}

.content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #F7F9FB;
    line-height: 32px;
    margin: 0;
    padding: 10px 0 20px 20px;
}