.mainContainer {
    padding: 22px 60px;
}

.goBackBtn {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: #2F4454;
    color: #F7F9FB;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #2F4454;
    cursor: pointer;
}

.goBackBtn:hover {
    background-color: #DA7B93;
    color: #F7F9FB;
}

.imgWrap img{
    max-height: 500px;
    max-width: 350px;
    padding-top: 22px;
}

.container {
    display: flex;
}

.mainDetails {
    padding: 22px 60px;
}

.movieTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    color: #376E6F;
}

.movieDescr {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #F7F9FB;
    line-height: 32px;
    margin: 0;
}

.movieSubTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #376E6F;
}

.moviewGenres {
    display: flex;
    gap: 12px;
}

.list {
    text-decoration: none;
    padding: 0 0 30px 0;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

hr {
    border: 2px solid #2E151B;
    border-radius: 5px;
}

.link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    max-width: 320px;
    text-decoration: none;
    background-color: #2F4454;
    color: #F7F9FB;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #2F4454;
    cursor: pointer;
    
}

.link:hover {
    background-color: #2E151B;
    border: 1px solid #2E151B;
    color: #F7F9FB;
}

