.container {
    padding: 40px;
    background: url(../../assets/img/hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.heroText {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 800;
    color: #F7F9FB;
}

.heroActionCall {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #376E6F;
}

.trendingBtn {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: #2F4454;
    color: #F7F9FB;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.trendingBtn:hover,
.trendingBtn:focus {
    background-color: #DA7B93;
}

.poster {
   width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.posterImg {
    margin: 20px;
}

.posterImg {
    margin: 0;
}