.form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding-top: 56px;
}

.input {
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    outline: none;
    border: 2px solid #2E151B;
    font-size: 18px;
    padding-left: 10px;
}

.input:focus {
    border: 2px solid #DA7B93;
}

.input::placeholder {
    font-size: 18px;
}

.searchBtn {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background-color: #2F4454;
    color: #F7F9FB;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #2F4454;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: #DA7B93;
    color: #F7F9FB;
}
