.trendingContainer {
    padding: 22px 60px;
}

.tredingTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #F7F9FB;
}

.trendingList {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #F7F9FB;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 10px;
    padding: 0px;
}

.trendingItem {
    border: 2px solid #2F4454;
    border-radius: 4px;
    width: 700px;
    background-color: #2F4454;
}

.trendingItem:hover {
    background: #2E151B;
    border: 2px solid #2E151B;
}

.NavLink {
    display: block;
    padding: 18px;
    text-decoration: none;
    color: #F7F9FB;
    width: 100%;
    font-weight: bold;
}
